
<style>
    {#.nav ul{#}
    {#    overflow: hidden;#}
    {#}#}
    {#.nav ul li{#}
    {#    float:left;#}
    {#    margin: 0 20px;#}
    {#}#}

</style>
<p>

</p>
{#<nav class="nav navbar-default" >#}
<nav class="navbar navbar-expand-sm bg-light" >

    <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/ctp/">主页</a></li>
        <li class="nav-item"><a class="nav-link" href="/ctp/strategy-list">策略实例</a></li>
        <li class="nav-item"><a class="nav-link" href="/ctp/hq-list">行情管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/ctp/instrument-list">合约信息</a></li>
        <li class="nav-item"><a class="nav-link" href="/ctp/account-list">我的账户</a></li>
        <li class="nav-item"><a class="nav-link" href="/ctp/strategy/template/list">策略管理</a></li>
        <li class="nav-item"><a class="nav-link" target="_blank" href="/ctp/backtest">回测管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/ctp/config/market-trader-list">设施配置</a></li>
        <li class="nav-item"><a class="nav-link" href="/ctp/config/timed-task-list">服务计划</a></li>
        <li style="float:right">
        </li>
        <li>
            <a class="nav-link" href="/ctp/logout">登出</a>
        </li>
    </ul>

</nav>
